body {
    background: linear-gradient(#fff,rgba(156,39,176,.5));
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

  .card {
    width: 50%;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
    border: #e9e780;
    background-color: #e9e780;
    text-align: justify;
    color: rgb(136, 20, 182);
    margin-top: 20px;
    font-size: 20px;
    padding: 35px;
    margin-bottom: 40px;
    box-shadow: 0 4px 8px 0 rgba(119, 114, 121, .5);
    
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.card:hover{
    box-shadow: 0 8px 16px 0 rgba(119, 114, 121, .5);
}

#image0{
    width: 350px;
    margin-top: 20px;
    border-radius: 50%;
}

#image1{
    width: 350px;
    margin-top: 100px;
    border-radius: 20%;
}

#image2{
    width: 350px;
    margin-top: 30px;
    border-radius: 20%;
}

#image3{
    width: 350px;
    margin-top: 100px;
    border-radius: 20%;
}



ul.list {
    list-style-type: square;
    text-align: left;
}


#liga:link {
    background-color: rgb(101, 221, 201);
}

#liga:hover {
    background-color: rgb(238, 238, 113);
}

#liga:active {
    background-color: rgb(142, 226, 142);
}

#liga:visited {
    background-color: rgb(182, 103, 103);
}

