/*Estilos para todas las etiquetas <body>
En realidad sólo hay una etiqueta de este tipo*/

body {
    background-color: rgb(224, 209, 158);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


/*Estilos para todas tags de tipo <img>*/

#profile-img {
    border-radius: 5px;
    margin: 10px;
}


/*Estilo para todas las tags que tengas esta clase
Aquí se definen los estilos para las TARJETAS*/

.tarjeta {
    background-color: white;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    box-shadow: 0px 8px 8px rgba(150, 148, 148, 0.8);

    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}


/*Estilo para todas las tags que tengas esta clase
Aquí se definen los estilos para el PROFILE*/

.profile {
    width: 300px;
    text-align: center;
}

@media(max-width: 800px){
    .profile{
        width: 600px;
    }

    #profile-img{
        width: 300px;
        height: 450px;
    }
    
}



/*Estilo para todas las tags que tengas esta clase
Aquí se definen los estilos para la BIO*/

.bio {
    width: 500px;
    text-align: justify;
}


/*Tabla*/

table, td, th {
    /* border: blue 1px solid; */
    border-color: gray;
    border-width: 1px;
    border-style: solid;
    border-collapse: collapse;
    background-color: rgb(248, 242, 242);
}

div.centraTabla {
    text-align: center;
}

div.centraTabla table {
    margin: 0 auto;
    text-align: left;
}